<div class="row content-shots">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" >
    <li ng-repeat="shot in list.shots">
    <div class="thumbnail">
      <a href="#/shots/{{shot.id}}">
        <img ng-src="{{shot.image_url}}">
      </a>
      <strong class="title">{{shot.title}}</strong>
      
      <a class="player" href="#/players/{{shot.player.username}}">
        {{shot.player.name}}
      </a>

      <div class="stats">
        <span class="stat">
          <span aria-hidden="true" class="icon-eye"></span>
          {{ shot.views_count }}
        </span>
        <span class="stat">
          <span aria-hidden="true" class="icon-bubbles"></span>
          {{ shot.comments_count }}
        </span>
        <span class="stat">
          <span aria-hidden="true" class="icon-heart"></span>
          {{ shot.likes_count }}
        </span>
        <span class="stat">
          <span aria-hidden="true" class="icon-redo"></span>
          {{ shot.rebounds_count }}
        </span>
      </div>

    </div>
    </li>
  </ul>
  <button 
    class="btn btn-primary" 
    ng-show="list.page < list.pages"
    ng-click="list.loadNextPage()">
    Load More
  </button>
  </div>
